<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
</head>

<body>
    <h1>Financial Simulation Details</h1>

    <div class="grid-container">
        <div class="chart-card">
            <h2>Asset Balances</h2>
            <div id="assets_chart" class="chart-div"></div>
        </div>

        <div class="chart-card">
            <h2>Cash Sources (Income & Withdrawals)</h2>
            <div id="sources_chart" class="chart-div"></div>
        </div>

        <div class="chart-card">
            <h2>Market Conditions</h2>
            <div id="market_chart" class="chart-div"></div>
        </div>

        <div class="chart-card">
            <h2>Expenses and Savings Breakdown (Outflows)</h2>
            <div id="expenses_chart" class="chart-div"></div>
        </div>

        <div class="chart-card">
            <h2>Monte Carlo Median & Percentile Balances</h2>
            <div id="monte_carlo_chart" class="chart-div"></div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>